@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
}
.header{
    background: rgba(255, 113, 67, 0.27);
    padding: 38px 0 48px;
}
.container{
   max-width: 1070px;
   margin: 0 auto; 
}
.nav_li{
    display:inline-block ;
    
}
.nav_li:not(:first-of-type){
    margin-left: 49px;
}
.nav_link{
    text-decoration: none;
    color:#696871;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.468947px;
    font-family: 'DM Sans', sans-serif;
}
.nav_link:hover{
   color: #19191B;
   transition: 300ms;
}
.button{
    width: 212px;
    height: 60px;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
}
.buttom_orange{
    background: #ff7141;
}
.buttom_orange:hover{
    background: #fe5a23;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 105px auto 85px;
}
.about_title{
    font-weight: 700;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
    color: #19191B;
    max-width: 467px;
    margin-bottom: 30px;
    font-family: 'DM Sans', sans-serif;
}
.about_text{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
    max-width: 464px;
    font-family: 'Mulish', sans-serif;
    margin-bottom: 50px;
}
.button_violet{
    background-color: #5454D4;
}
.button_violet:hover{
    background-color: #2d2ddf;
}
.button_transparent{
    background: none;
    color: #5454D4;
    border: 1px solid #5454D4;
    margin-left: 35px;
}
/* Footer */
.footer{
    background: rgba(255, 113, 67, 0.27);
    padding-top: 65px;
    padding-bottom: 60px;
}
.footer_li {
    display: inline-block;

}
.footer_li:not(:first-of-type) {
    margin-left: 49px;
}
.footer_link{
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.468947px;
    color: #696871;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
}
.header_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}